html,
body {
    height: 100%;
}

body {
    @extend %rubik-medium;
    font-size: 14px;
    line-height: 1.2;
    color: #7b7b7b;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    line-height: 0;
    cursor: pointer;
    outline: 1px solid transparent;
}

.main {
    flex-grow: 1;
}

@media (max-width: 1400px) {
    .slider-top {

        &__item {
            padding: 100px 0 120px;
        }

        &__img {
            &::after {
                display: none;
            }
        }
    }

    .advantages {

        &__item {
            padding: 30px 60px 40px 115px;

            &::before {
                left: 20px;
                top: 25px;
            }
        }
    }

    .new-items {
        &__inner {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 1100px) {

    .header {
        position: relative;
        flex-wrap: wrap;

        &--active {

            &::after {
                position: absolute;
                content: '';
                background-color: #cce2ed;
                top: 0;
                right: 0;
                bottom: -71vh;
                left: 0;
                z-index: 1;
            }
        }

        &__inner {
            justify-content: space-around;
        }

        &__logo {
            z-index: 2;
        }
    }

    .menu {
        display: none;
        text-align: center;

        &__item:not(:last-child) {
            margin-right: 0;
        }

        &__link {
            display: block;
            font-size: 20px;
            line-height: 2;
            padding: 20px 0;
        }

        &--active {
            display: block;
            position: absolute;
            top: 130%;
            left: 0;
            right: 0;
            z-index: 2;
        }


    }

    .user-nav {
        display: none;
        flex-wrap: nowrap;
        transform: translate(-50px, 80px);
        z-index: 2;

        &__doublebtn {
            &--basket {
                margin-left: -5px;
            }
        }

        &--active {
            display: block;
        }
    }

    .burger-btn {
        display: block;
        z-index: 2;
    }


    .slider-top {

        &__title {
            font-size: 50px;
        }

        &__subtitle {
            font-size: 16px;
        }
    }

    .new-items {

        &__inner {
            grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
        }
    }

    .new-item {
        padding: 70px 40px 40px 240px;
        max-width: 570px;

        &__img {
            left: 6px;

            img {
                max-width: 190px;
            }

        }
    }

    .about-us {
        &__content {
            justify-content: center;
        }

        &__img {
            display: none;
        }
    }

    .our-team {


        &__inner {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__invite {
            margin-right: 0;
        }

        &__list {
            margin-bottom: 60px;
        }

        &__person {
            justify-self: center;
        }
    }

    .footer {

        &__top {
            overflow: scroll;
        }

        &__bottom {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 670px) {

    .header {
        &--active {
            &::after {
                bottom: -360%;
            }
        }
    }


    .user-nav {
        display: none;
    }

    .slider-top {

        &__item {
            padding: 55px 0 55px;
        }

        &__title {
            font-size: 35px;
        }

        &__subtitle {
            margin-bottom: 30px;
        }

        &__btn {
            padding: 15px 50px 15px 18px;

            &::after {
                top: 19px;
            }
        }
    }

    .advantages {
        &__item {
            padding: 15px;

            &::before {
                display: none;
            }
        }
    }

    .new-items {

        &__inner {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            row-gap: 30px;
        }
    }

    .new-item {
        padding: 40px;
        max-width: 270px;

        &__content {
            width: 100%;
        }

        &__img {
            display: none;
        }
    }

    .video {
        min-height: 200px;
    }

    .login {
        max-width: 300px;

        &__create-acc {
            padding: 20px 30px;
        }
    }

    .about-us {
        &__item {
            margin-right: 0;
        }

        &__text {
            padding-top: 30px;
        }

        &__progress {
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 0;

            &::before {
                display: none;
            }
        }

        &__item {
            &:not(:last-child)::after {
                display: none;
            }
        }
    }

    .statistics {
        &__list {
            flex-wrap: wrap;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 460px) {
    .slider-top {
        &__img {
            display: none;
        }

        &__btn {
            display: flex;
            justify-content: center;
            padding: 15px 18px;

            &::after {
                display: none;
            }
        }

        .slick-dots {
            transform: translateY(-55px);
        }
    }

    .advantages {
        &__title {
            font-size: 14px;
        }

        &__text {
            font-size: 13px;
        }
    }

    .tabs {
        flex-direction: column;
        align-items: center;

        &__item {
            &:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 20px;
            }

        }
    }

    .products {

        &__catalog {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    .new-items {

        &__inner {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }

    }

    .new-item {
        max-width: 250px;
    }

    .new-design {
        &__catalog {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    .design-item {
        background-position: 90px 80%;
        max-width: 250px;
    }

    .blog__items {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .blog-item {
        max-width: 250px;

        &__category {
            top: 39vh;
        }

        &__details {
            padding: 40px 19px 0;
        }
    }

    .about-us {
        padding: 20px 0;

        &__experience {
            padding-left: 130px;

            &::before {
                font-size: 100px;
                top: 0;
            }
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    .our-team {
        &__img {
            img {
                max-width: 260px;
            }
        }

        &__list {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    .login {
        max-width: 250px;
    }

    .login-form {
        &__label {
            &--checkbox {
                margin-bottom: 20px;
            }
        }

        &__pass {
            flex-direction: column;
        }
    }
}

.container {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    &--small {
        max-width: 1200px;
    }
}

.title {
    color: $title-color;
    @extend %dmsans-bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}