html,
body {
    height: 100%;
}

body {
    @extend %rubik-medium;
    font-size: 14px;
    line-height: 2;
    color: #7b7b7b;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    &--small {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }
}