$title-color: #243f4d;
%rubik-regular {
    font-family: "Rubik";
    font-weight: 400;
}

%rubik-medium {
    font-family: "Rubik";
    font-weight: 500;
}

%dmsans-regular {
    font-family: "DMSans";
    font-weight: 400;
}

%dmsans-medium {
    font-family: "DMSans";
    font-weight: 500;
}

%dmsans-bold {
    font-family: "DMSans";
    font-weight: 700;
}

%poppins-bold {
    font-family: "Poppins";
    font-weight: 700;
}