$accent-color: #243f4d;
$text-color: #436372;
$bg-color: #fef7f0;
$btn-color: #a3bbc8;
$title-color: #191919;
$post-date: #222933;
$body-color: #fff;

%rubik-regular {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

%rubik-medium {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

%dmsans-regular {
    font-family: "DMSans", sans-serif;
    font-weight: 400;
}

%dmsans-medium {
    font-family: "DMSans", sans-serif;
    font-weight: 500;
}

%dmsans-bold {
    font-family: "DMSans", sans-serif;
    font-weight: 700;
}

%poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

%btn-param {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

%title-limitation {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

%content-limitation {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

%outline {
    outline: 1px solid $btn-color;
}

%outline-link {
    border-bottom: 1px solid #7b7b7b;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

@mixin lg {
    @media (max-width: 1366px) {
        @content;
    }
}

@mixin medium {
    @media (max-width: 1000px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 670px) {
        @content;
    }
}

@mixin small {
    @media (max-width: 470px) {
        @content;
    }
}