$accent-color: #243f4d;
$bg-color: #fef7f0;
$btn-color: #a3bbc8;
$title-color: #191919;
$post-date: #222933;
$body-color: #fff;
%rubik-regular {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

%rubik-medium {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

%dmsans-regular {
    font-family: "DMSans", sans-serif;
    font-weight: 400;
}

%dmsans-medium {
    font-family: "DMSans", sans-serif;
    font-weight: 500;
}

%dmsans-bold {
    font-family: "DMSans", sans-serif;
    font-weight: 700;
}

%poppins-bold {
    font-family: "Poppins"sans-serif;
    font-weight: 700;
}

%btn-param {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}