.products {
    padding: 36px 0 100px;

    &__catalog {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        column-gap: 30px;
        row-gap: 40px;
        margin-bottom: 180px;
    }
}