.about-us {
    padding: 120px 0;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        margin-right: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 570px;
        min-height: 675px;
        width: 100%;
    }

    &__text {
        padding: 100px 0 0 8px;
        max-width: 560px;
        color: $accent-color;
    }

    &__experience {
        position: relative;
        display: block;
        max-width: 70px;
        @extend %rubik-regular;
        font-size: 16px;
        line-height: 30px;
        color: $accent-color;
        padding-left: 185px;
        margin-bottom: 38px;

        span {
            position: absolute;
            @extend %rubik-medium;
            font-size: 140px;
            line-height: 1;
            font-weight: 700;
            color: $btn-color;
            top: -36px;
            left: 6px;
        }
    }

    &__title {
        display: block;
        @extend %dmsans-bold;
        font-size: 36px;
        margin-bottom: 50px;
    }

    &__desc {
        position: relative;
        @extend %rubik-regular;
        font-size: 16px;
        line-height: 1.5;

        margin-bottom: 35px;


    }

    ul.about-us__progress {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-top: 65px;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 500px;
            height: 2px;
            background-color: #e6eaf0;
        }
    }

    &__item {
        padding-left: 55px;
        @extend %dmsans-bold;
        margin-right: 30px;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 45px;
            height: 45px;
            position: absolute;
            background-repeat: no-repeat;
            left: 0;
            top: 13px;
        }

        &:not(:last-child) {
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 1px;
                height: 80px;
                background-color: #e6eaf0;
                right: -25px;
                top: 0;
            }
        }

        &--projects {
            &::before {
                background-image: url('../images/icons/projects-png.png');
            }
        }

        &--revenue {
            &::before {
                background-image: url('../images/icons/revenue-png.png');
                left: -8px;
            }
        }

        &--awards {
            &::before {
                background-image: url('../images/icons/award-png.png');
                left: -5px;
            }
        }
    }

    &__num {
        display: block;
        font-size: 36px;
        color: $accent-color;
    }

    &__name {
        display: block;
        font-size: 16px;
    }

    &__statistics {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}