.blog {
    padding: 0 0 90px;
    position: relative;
    overflow: hidden;
    &::before {
        display: block;
        position: absolute;
        content: '';
        background-color: #f7f0e9;
        top: 46vh;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        margin-bottom: 47px;
    }
    &__more {
        position: relative;
        @extend %dmsans-bold;
        font-size: 16px;
        padding-top: 20px;
        padding-right: 25px;
        &::after {
            position: absolute;
            content: '';
            width: 10px;
            height: 13px;
            background-image: url('../images/icons/arrow-triangle.svg');
            background-repeat: no-repeat;
            right: 0;
            top: 23px;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }
}