.catalog {
    padding: 120px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__filters {
        max-width: 270px;
        width: 100%;
        margin-right: 30px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 40px;
    }
}