.contact-us {
    padding: 120px 0;

    .title {
        margin-bottom: 75px;

        span {
            display: block;
            @extend %poppins-bold;
            font-size: 16px;
            color: $btn-color;
            margin-bottom: 10px;
        }
    }

    &__connect {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 120px;
    }

    &__item {
        max-width: 370px;
        width: 100%;
        max-height: 380px;
        padding: 70px 50px;
        background-color: #fbfbfb;
        border: 3px solid transparent;

        &:hover {
            border-color: $btn-color;
        }

        span {
            display: block;
            @extend %rubik-medium;
            font-size: 20px;
            color: #222222;
            margin-bottom: 25px;
        }

        p,
        address {
            font-style: normal;
            color: #565872;
            line-height: 30px;
        }

    }

    &__img {
        margin: 0 auto;
        background-color: $body-color;
        width: 80px;
        height: 80px;
        border-radius: 20px;
        padding: 18px 25px;
        fill: $btn-color;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        margin-bottom: 65px;

        svg {
            width: 30px;
            height: 45px;
        }
    }

    &__request {
        display: flex;
        justify-content: space-between;

        .request-form {
            max-width: 630px;

            &__input {
                width: 300px;
                background-position: 260px 50%;
            }

            &__text {
                background-position: 590px 10%;
            }
        }
    }
}

#map {
    height: 335px;
    width: 500px;
}