.contact-us {
    padding: 120px 0;

    @include medium {
        padding: 60px 0;
    }

    .title {
        margin-bottom: 75px;

        span {
            display: block;
            @extend %poppins-bold;
            font-size: 16px;
            color: $btn-color;
            margin-bottom: 10px;
        }
    }

    &__connect {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 120px;

        @include mobile {
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }

    &__item {
        max-width: 370px;
        width: 100%;
        min-height: 380px;
        padding: 70px 50px;
        background-color: #fbfbfb;
        border: 3px solid transparent;

        &:not(:last-child) {
            margin-right: 30px;
        }

        &:hover {
            border-color: $btn-color;
        }

        span {
            display: block;
            @extend %rubik-medium;
            font-size: 20px;
            color: #222222;
            margin-bottom: 25px;
        }

        p,
        address {
            font-style: normal;
            color: #565872;
            line-height: 30px;
        }

        @include medium {
            padding: 20px;
        }

        @include mobile {
            margin-bottom: 30px;
            margin-right: 0;
            max-width: 90%;
        }

    }

    &__img {
        margin: 0 auto;
        background-color: $body-color;
        width: 80px;
        height: 80px;
        border-radius: 20px;
        padding: 18px 25px;
        fill: $btn-color;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        margin-bottom: 65px;

        svg {
            width: 30px;
            height: 45px;
        }
    }

    &__request {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .request-form {
            max-width: 630px;
            margin-right: 40px;

            @include mobile {
                margin-right: 0;
                justify-content: center;
                margin-bottom: 30px;
            }

            &__input {
                width: 300px;
                background-position: 95% 50%;

                @include mobile {
                    width: 100%;
                }
            }

            &__input--name {
                @include mobile {
                    margin-right: 0;
                }
            }

            &__text {
                background-position: 98% 10%;
            }

            &__btn {
                justify-self: center;
            }
        }
    }
}

#map {
    height: 335px;
    width: 500px;
}