.design {
    padding: 100px 0;
    &__inner {
        margin-bottom: 70px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
    &__cell {
        background-repeat: no-repeat;
        background-size: inherit;
        background-color: #f8f8f8;
        background-position: 17vh 12vh;
        max-width: 370px;
        width: 100%;
        min-height: 250px;
        padding: 40px 0 30px 30px;
        @extend %dmsans-bold;
        overflow-x: hidden;
        margin-bottom: 30px;
        &:not(:nth-child(3n+3)) {
            margin-right: 30px;
        }
        &-title {
            max-width: 180px;
            font-size: 20px;
            line-height: 1.2;
            color: $title-color;
            margin-bottom: 15px;
        }
        &-subtitle {
            color: $btn-color;
            font-size: 16px;
            line-height: 1.2;
        }
        &-img {
            transform: translate(20%, -20%);
        }
    }
    &__video {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 500px;
        position: relative;
        &-link {
            position: absolute;
            content: '';
            background-image: url('../../images/play.png');
            background-repeat: no-repeat;
            background-position: center center;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
        }
    }
}