.new-item {
    position: relative;
    display: flex;
    max-width: 870px;
    min-height: 390px;
    padding: 98px 150px 80px 386px;
    background-color: #feefe2;
    justify-self: center;

    &__img {
        position: absolute;
        bottom: 85px;
        left: 136px;

        img {
            object-fit: cover;
            max-width: 230px;
        }
    }

    &__content {
        color: $accent-color;
        display: flex;
        flex-direction: column;
    }

    &__title {
        @extend %dmsans-bold;
        font-size: 26px;
        line-height: 1.2;
        margin-bottom: 19px;
        @extend %title-limitation;
    }

    &__desc {
        @extend %rubik-regular;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 30px;
        @extend %content-limitation;
    }

    &__btn {
        display: inline-block;
        position: relative;
        margin-top: auto;
        padding: 21px 89px 20px 15px;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        color: #436372;
        @extend %rubik-medium;
        font-size: 15px;
        line-height: 1;
        transition: border-color 0.3s;
        align-self: flex-start;

        &::after {
            position: absolute;
            content: '';
            @extend %arrow-right;
            background-image: url('../images/icons/arrow-blue.svg');
        }

        &:hover {
            border-color: #436372;
        }
    }
}