.new-design {
    padding: 0 0 110px;
    &__inner {
        margin-bottom: 106px;
    }
    &__catalog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }
}

.video {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    position: relative;
    &__link {
        position: absolute;
        background-image: url('../images/icons/play.svg');
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}