.new-design {
    padding: 0 0 110px;

    &__inner {
        margin-bottom: 106px;
    }

    &__catalog {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        gap: 30px;

    }
}

.video {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    position: relative;

    &__link {
        position: absolute;
        background-image: url('../images/icons/sprite.svg#play');
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: filter 0.3s;

        &:hover {
            filter: invert(54%) sepia(24%) saturate(289%) hue-rotate(157deg) brightness(103%) contrast(85%);


        }
    }
}