.promo {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        display: flex;
        max-width: 870px;
        min-height: 400px;
        padding: 80px 150px 80px 370px;
        background-color: #feefe2;
        position: relative;
    }
    &__img {
        object-fit: cover;
        max-width: 230px;
        position: absolute;
        bottom: 60px;
        left: 60px;
    }
    &__text {
        color: $accent-color;
        display: flex;
        flex-direction: column;
        &-title {
            @extend %dmsans-bold;
            font-size: 26px;
            line-height: 1.2;
            margin-bottom: 25px;
        }
        &-desc {
            @extend %rubik-regular;
            font-size: 16px;
            margin-bottom: 30px;
        }
        &-btn {
            display: inline-block;
            position: relative;
            margin-top: auto;
            padding: 20px 80px 20px 15px;
            border: 1px solid #b3b7b5;
            border-radius: 5px;
            color: #436372;
            @extend %rubik-medium;
            font-size: 15px;
            line-height: 1;
            transition: border-color 0.3s;
            align-self: flex-start;
            &::after {
                position: absolute;
                content: '';
                background-image: url('../../images/arrow-blue.svg');
                @extend %arrow-right;
            }
            &:hover {
                border-color: #436372;
            }
        }
    }
}