.slider {
    @extend %rubik-medium;
    height: 820px;
    &__wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__item {
        padding: 220px 0 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        max-width: 420px;
        text-transform: uppercase;
        color: $accent-color;
        font-size: 72px;
        line-height: 1;
        margin-bottom: 40px;
    }
    &__subtitle {
        max-width: 370px;
        @extend %rubik-regular;
        color: #436372;
        font-size: 18px;
        line-height: 2;
        margin-bottom: 40px;
    }
    &__btn {
        position: relative;
        padding: 20px 110px 20px 25px;
        background-color: $btn-color;
        font-size: 15px;
        line-height: 1;
        color: $body-color;
        transition: background-color 0.3s;
        &::after {
            position: absolute;
            content: '';
            @extend %arrow-right;
        }
        &:hover {
            background-color: #80a1b3;
        }
    }
    &__img {
        max-width: 640px;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    transform: translateY(-60px);
    li:not(:last-child) {
        margin-right: 11px;
    }
    button {
        border: none;
        background: none;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        text-align: center;
        color: $accent-color;
        font-size: 11px;
        line-height: 30px;
        outline: transparent;
        &:focus,
        &:active {
            border: none;
            outline-color: transparent;
        }
    }
}

.slick-active {
    button {
        background-color: $body-color;
    }
}