.catalog {
    padding: 120px 0;

    &__inner {
        display: flex;
        margin-bottom: 100px;
    }

    &__filters {
        max-width: 270px;
        width: 100%;
        margin-right: 30px;
    }

    &__view {
        max-width: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        background-color: $body-color;
        fill: $text-color;

        &:focus {
            fill: $accent-color;
        }

        &:hover {
            fill: $accent-color;
        }

        &:active {
            fill: $accent-color;
        }
    }

    &__grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 30px;
    }
}