.statistics {
    padding: 57px 0;
    background-color: #fcd7b6;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: -20px;
    }

    &__item {
        padding-top: 90px;
        text-align: center;
        position: relative;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            content: '';
            width: 80px;
            height: 80px;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
        }

        &--clients::before {
            background-image: url('../images/statistics/satisfied.svg');
            left: 50px;
        }

        &--products::before {
            background-image: url('../images/statistics/delivered.svg');
            left: 40px;
        }

        &--time::before {
            background-image: url('../images/statistics/working-time.svg');
            left: 40px;
        }

        &--brands::before {
            background-image: url('../images/statistics/brands.svg');
            left: 32px;
        }
    }

    &__num {
        display: block;
        font-size: 36px;
        color: $accent-color;
        margin-bottom: 25px;
    }

    &__name {
        display: block;
        font-size: 18px;
        color: $accent-color;
    }
}