.pagination {
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
    }

    &__item {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        padding: 20px;
        @extend %rubik-regular;
        font-size: 16px;
        line-height: 1;
        border: 1px solid $btn-color;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $btn-color;
            color: $body-color;
        }

        &--active {
            background-color: $btn-color;
            color: $body-color;
        }
    }
}