.partners {
    background-color: #f7f0e9;
    width: 100%;

    ul.partners__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 75px 0 85px;
        margin: 0;

        @include medium {
            padding: 50px 0;
        }

        .slick-slide {
            padding: 0 50px;
        }
    }

    &__logo {
        width: 500px;

        img {
            max-width: 200px;
            object-fit: contain;
            margin: 0 auto;
        }
    }

}