.product-slider {
    display: flex;
    width: 550px;
    margin-right: 70px;

    @include medium {
        margin-right: 20px;
    }

    @include mobile {
        width: 100%;
        margin-right: 0;
        justify-content: center;
    }

    &__nav {
        width: 138px;
        height: 530px;
        margin-right: 25px;

        @include medium {
            display: none;
        }
    }

    &__nav-item {
        width: 138px;
        height: 160px;
        border: 2px solid #f2f2f2;
        background-color: #fefefe;
        padding: 15px;
        overflow: hidden;
        margin-bottom: 18px;
        cursor: pointer;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__main {
        width: 387px;

        @include medium {
            width: 300px;
        }
    }

    &__main-item {
        width: 387px;
        height: 530px;

        padding: 63px 77px;
        border: 2px solid #f2f2f2;
        background-color: #fefefe;

        @include medium {
            height: auto;
        }

        @include mobile {
            height: 360px;
        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}