.product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 270px;
    width: 100%;
    min-height: 380px;
    padding: 25px 30px 40px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    justify-self: center;
    margin-bottom: 40px;

    @include mobile {
        margin-right: 0;
        max-width: none;
    }

    &:hover {
        .product-item__icons {
            opacity: 1;
        }
    }

    &__img {
        margin-top: auto;
        margin-bottom: 74px;

        img {
            max-width: 240px;
            margin: 0 auto;
            object-fit: cover;
        }
    }

    &__content {
        text-align: center;
    }

    &__title {
        @extend %dmsans-medium;
        font-size: 16px;
        color: $accent-color;
        line-height: 1.3;
        margin-top: auto;
        margin-bottom: 10px;
        @extend %title-limitation;
    }

    &__price {
        @extend %dmsans-bold;
        color: $btn-color;
        font-size: 16px;
        line-height: 1.3;
    }

    &__icons {
        position: absolute;
        display: flex;
        bottom: 38%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &__btn {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: $body-color;
        box-shadow: 1px 5px 20px -2px rgba(34, 60, 80, 0.58);
        margin: 0 5px;
        fill: #a7becb;
        transition: background-color 0.3s;

        &:hover {
            fill: $body-color;
            background-color: #a3bac7;
        }

        &--search {
            svg {
                position: absolute;
                top: 30%;
                left: 30%;
            }
        }
    }

    &__rating {
        display: none;
    }

    &__text {
        @extend %rubik-regular;
        font-size: 16px;
        line-height: 1.5;
        color: $accent-color;
        display: none;
    }

    &--list {
        @extend %rubik-regular;
        max-width: 870px;
        width: 100%;
        flex-direction: row;
        box-shadow: none;
        padding: 0;


        .product-item__img {
            margin: 0;
            padding: 80px 25px;
            border: 3px solid #f2f2f2;
            background-color: #fefefe;
            margin-right: 60px;
            height: 500px;
            max-width: 370px;
            width: 100%;

            img {
                margin: 0 auto;
                width: 100%;
            }
        }

        .product-item__content {
            text-align: left;
            display: flex;
            flex-direction: column;
            max-width: 440px;
        }

        .product-item__icons {
            transform: translate(45px, 150px);
            display: block;
            opacity: 1;
        }

        .product-item__btn--search {
            display: none;
        }

        .product-item__title {
            margin: 0;
            font-size: 40px;
            justify-self: flex-start;
            margin-bottom: 25px;
        }

        .product-item__btn {
            border-radius: 0;
            border: 1px solid $btn-color;
            box-shadow: none;
        }

        .product-item__rating {
            display: block;
            margin-bottom: 35px;
        }

        .jq-ry-container {
            padding: 0;
        }

        .product-item__text {
            display: block;
            order: 1;

            p {
                @extend %content-limitation;
            }

        }

        .product-item__price {
            font-size: 30px;
            color: #333333;
            margin-bottom: 35px;
        }
    }
}