.related-products__slider {
    position: relative;

    .product-item {
        height: 380px;
    }

    .slick-arrow {
        position: absolute;
        font-size: 0;
        padding: 20px 14px;
        border: 2px solid #edf1f4;
        border-radius: 5px;
        background-color: transparent;
        top: 0;
        right: 0;
        transform: translate(0, -115px);

        &:focus {
            @extend %outline;
        }

        &:hover {
            border-color: $btn-color;
        }

        &:active {
            @extend %outline;
        }
    }

    .slick-prev {
        transform: translate(-74px, -115px);
    }
}