.search-form {
    display: flex;
    margin-bottom: 60px;

    &__input {
        width: 222px;
        border: 2px solid #ebf1f3;
        height: 43px;
        color: $accent-color;

        &:focus {
            outline-color: #ebf1f3;
        }

        &:active {
            outline-color: $accent-color;
        }
    }

    &__btn {
        height: 43px;
        padding: 12px 15px;
        background-color: #ebf1f3;
        border-radius: 5px;
        margin-left: -5px;

        &:focus {
            @extend %outline;
        }

        &:hover {
            fill: $body-color;
            background-color: $accent-color;
        }

        &:active {
            @extend %outline;
        }
    }
}